@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental</title>
    <link rel="stylesheet" href="~/css/customer/dashboard.css">
    <script src="https://kit.fontawesome.com/yourkit.js" crossorigin="anonymous"></script>
</head>
<body>


    <!-- Home Page -->
    <main class="main-content">
        <header class="header">
            <h1>Hello Name</h1>
        </header>
    </main>

</body>
</html>
