.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 60px;
    background: #D2042D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    z-index: 1000; /* Ensures sidebar is above main content */
}

    .sidebar:hover {
        width: 200px;
        align-items: flex-start;
        padding-left: 30px;
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

        .sidebar ul li {
            margin: 20px 0;
            width: 100%;
            display: flex;
            align-items: center;
        }

            .sidebar ul li a {
                color: white;
                font-size: 18px;
                display: flex;
                align-items: center;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                padding: 10px;
                border-radius: 20px;
            }

             .sidebar ul li a:hover {
                 background: white; 
                 color: black; 
             }

              .sidebar ul li a:hover .icon-wrapper {
                  background: black; /* Makes icon background black */
              }

              .sidebar ul li a:hover i {
                  color: white; /* Changes icon color to white */
              }

                /* White circular background for icons */
                .sidebar ul li a .icon-wrapper {
                    width: 30px;
                    height: 30px;
                    background: white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                }


                .sidebar ul li a i {
                    color: red;
                    font-size: 15px;
                }

                .sidebar ul li a span {
                    opacity: 0;
                    font-size: 15px;
                    font-weight: 500;
                    font-family: sans-serif;
                    white-space: nowrap;
                    transition: opacity 0.3s ease-in-out;
                }

    .sidebar:hover ul li a span {
        opacity: 1;
    }

    .sidebar ul li:last-child a span {
        padding-top: 100px;
        color: white;
    }

    .sidebar ul li:last-child a i {
        padding-top: 100px;
        color: white;
    }


    .sidebar ul li:last-child a .icon-wrapper {
        background: none;
    }

.sidebar {
    filter: none !important;
}

    .sidebar:hover ~ .main-content {
        filter: blur(5px); /* Apply blur only to the main content */
        pointer-events: none;
    }


