<body>
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="nav-logo">
            <img src="~/images/UserIcons/dmWhiteLogo.png" alt="DM Car Rental Logo">
        </div>
        <nav class="nav-menu">
            <a href="#home" class="nav-link active">
                <img src="~/images/UserIcons/homeIcon.png" alt="Home Icon" class="nav-icon"> Home
            </a>
            <a href="#rent" class="nav-link">
                <img src="~/images/UserIcons/rentCarIcon.png" alt="Car Icon" class="nav-icon"> Rent a Car
            </a>
            <a href="#rentHistory" class="nav-link">
                <img src="~/images/UserIcons/rentHistoryIcon.png" alt="History Icon" class="nav-icon"> My Rental
            </a>
            <a href="#profile" class="nav-link">
                <img src="~/images/UserIcons/profileIcon.png" alt="Profile Icon" class="nav-icon"> Profile
            </a>
        </nav>


            <a asp-controller="Account" asp-action="Logout" asp-route-area="Guest" class="nav-link">
                <img src="~/images/UserIcons/logoutIcon.png" alt="Logout Icon" class="nav-icon">Log out
            </a>


    </aside>

   

    <!-- Main Content -->
    <main class="main-content">
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)

</body>
