<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <!--HEADER / NAVBAR-->
    <header>
        <nav class="navbar section-content">
            <a href="#home" class="nav-logo">
                <img src="~/images/UserIcons/dmWhiteLogo.png" alt="DM Car Rental Logo" class="logo-text">
            </a>
            <button id="menu-close-button" class="fas fa-times"></button>
            <ul class="nav-menu">

                <li class="nav-item">
                    <a href="#home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="#viewCars" class="nav-link">Cars</a>
                </li>
                <li class="nav-item">
                    <a href="#support" class="nav-link">Support</a>
                </li>
                <li class="nav-item">
                <a asp-controller="Account" asp-action="Login" asp-route-area="Guest" class="nav-link">Login</a>
                </li>
                <div class="line">
                    <img src="~/images/UserIcons/line_final.png" alt="Line Image">
                </div>
            </ul>
            <button id="menu-open-button" class="fas fa-bars"></button>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

   <!--FOOTER IF LALAGYAN-->
    <footer>

        <div class="footer-bottom-container">
            <div class="footer-bottom">
                DM Car Rental Website by DMCarRental.com
            </div>
            <div class="footer-bottom-DM">
                © 2025 DM Car Rental | All rights reserved
            </div>
        </div>
        </div>

    </footer>


    @RenderSection("Scripts", required: false)


</body>
</html>