<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <!--HEADER / NAVBAR-->
    <header>
        <nav class="navbar section-content">
            <a href="#home" class="nav-logo">
                <img src="~/images/dmlogo.png" alt="DM Car Rental Logo" class="logo-text">
            </a>
            <button id="menu-close-button" class="fas fa-times"></button>
            <ul class="nav-menu">

                <li class="nav-item">
                    <a href="#home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="#viewCars" class="nav-link">View Cars</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">Contact Us</a>
                </li>
                <a asp-controller="Account" asp-action="Login" asp-route-area="Guest" class="nav-link">Login</a>
                </li>
                <div class= "line">
                    <img src="~/images/line.png" alt="Line Image">
                </div>
            </ul>

            <button id="menu-open-button" class="fas fa-bars"></button>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

   <!--FOOTER IF LALAGYAN-->

    <footer>
        <nav class="footer-menu">
            <a href="#" class="footer-link">Reservations</a>
            <a href="#" class="footer-link">Home</a>
            <a href="#" class="footer-link">About Us</a>
            <a href="#" class="footer-link">Terms</a>
            <a href="#" class="footer-link">Privacy Policy</a>
            <a href="#" class="footer-link">Contact Us</a>
        </nav>

        <div class="footer-bottom-container">
            © 2025 DM Car Rental | All rights reserved <br>
            DM Car Rental Website by DMCarRental.com
        </div>

        <div class="social-icons">
            <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-tiktok"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
        </div>
    </footer>


    @RenderSection("Scripts", required: false)


</body>
</html>